/*———————————————————————————————————————— svg styles*/
/* :32,52s/\t/#gray2 /g */

/*———————————————————————————————————————— svg styles*/

#gray1 .st0{fill:#323232;}
#gray1 .st1{fill:#C2C2C2;}
#gray1 .st2{fill:#808080;}
#gray1 .st3{font-family:'SourceSansPro-Regular';}
#gray1 .st4{font-size:12px;}
#gray1 .st5{fill:#999999;}
#gray1 .st6{fill:#4B4B4B;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st7{font-family:'SourceSansPro-Semibold';}
#gray1 .st8{fill:#4B4B4B;stroke:#666666;stroke-width:0.9954;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st9{fill:#454545;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st10{fill:#FFFFFF;}
#gray1 .st11{fill:#454545;stroke:#666666;stroke-width:0.9909;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st12{fill:#454545;stroke:#666666;stroke-width:0.9888;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st13{fill:none;stroke:#45A0F5;stroke-width:1.0143;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st14{fill:#303030;stroke:#45A0F5;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st15{clip-path:url(#SVGID_2_);}
#gray1 .st16{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
#gray1 .st17{fill:#4B4B4B;stroke:#666666;stroke-width:0.9702;stroke-miterlimit:10;}
#gray1 .st18{opacity:0;}
#gray1 .st19{opacity:0.2;fill:#FF0080;}
#gray1 .st20{opacity:0.2;}
#gray1 .st21{fill:#FF0080;}

#gray2 .st0{fill:#535353;}
#gray2 .st1{fill:#C2C2C2;}
#gray2 .st2{fill:#808080;}
#gray2 .st3{font-family:'SourceSansPro-Regular';}
#gray2 .st4{font-size:12px;}
#gray2 .st5{fill:#999999;}
#gray2 .st6{fill:#4B4B4B;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st7{font-family:'SourceSansPro-Semibold';}
#gray2 .st8{fill:#4B4B4B;stroke:#666666;stroke-width:0.9954;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st9{fill:#454545;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st10{fill:#FFFFFF;}
#gray2 .st11{fill:#454545;stroke:#666666;stroke-width:0.9909;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st12{fill:#454545;stroke:#666666;stroke-width:0.9888;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st13{fill:none;stroke:#45A0F5;stroke-width:1.0143;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st14{fill:#303030;stroke:#45A0F5;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st15{clip-path:url(#SVGID_2_);}
#gray2 .st16{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
#gray2 .st17{fill:#4B4B4B;stroke:#666666;stroke-width:0.9702;stroke-miterlimit:10;}
#gray2 .st18{opacity:0;}
#gray2 .st19{opacity:0.2;fill:#FF0080;}
#gray2 .st20{opacity:0.2;}
#gray2 .st21{fill:#FF0080;}

#gray3 .st0{fill:#B9B9B9;}
#gray3 .st1{fill:#C2C2C2;}
#gray3 .st2{fill:#808080;}
#gray3 .st3{font-family:'SourceSansPro-Regular';}
#gray3 .st4{font-size:12px;}
#gray3 .st5{fill:#999999;}
#gray3 .st6{fill:#4B4B4B;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st7{font-family:'SourceSansPro-Semibold';}
#gray3 .st8{fill:#4B4B4B;stroke:#666666;stroke-width:0.9954;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st9{fill:#454545;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st10{fill:#FFFFFF;}
#gray3 .st11{fill:#454545;stroke:#666666;stroke-width:0.9909;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st12{fill:#454545;stroke:#666666;stroke-width:0.9888;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st13{fill:none;stroke:#45A0F5;stroke-width:1.0143;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st14{fill:#303030;stroke:#45A0F5;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st15{clip-path:url(#SVGID_2_);}
#gray3 .st16{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
#gray3 .st17{fill:#4B4B4B;stroke:#666666;stroke-width:0.9702;stroke-miterlimit:10;}
#gray3 .st18{opacity:0;}
#gray3 .st19{opacity:0.2;fill:#FF0080;}
#gray3 .st20{opacity:0.2;}
#gray3 .st21{fill:#FF0080;}

#gray4 .st0{fill:#F0F0F0;}
#gray4 .st1{fill:#C2C2C2;}
#gray4 .st2{fill:#808080;}
#gray4 .st3{font-family:'SourceSansPro-Regular';}
#gray4 .st4{font-size:12px;}
#gray4 .st5{fill:#999999;}
#gray4 .st6{fill:#4B4B4B;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st7{font-family:'SourceSansPro-Semibold';}
#gray4 .st8{fill:#4B4B4B;stroke:#666666;stroke-width:0.9954;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st9{fill:#454545;stroke:#666666;stroke-width:0.995;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st10{fill:#FFFFFF;}
#gray4 .st11{fill:#454545;stroke:#666666;stroke-width:0.9909;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st12{fill:#454545;stroke:#666666;stroke-width:0.9888;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st13{fill:none;stroke:#45A0F5;stroke-width:1.0143;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st14{fill:#303030;stroke:#45A0F5;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st15{clip-path:url(#SVGID_2_);}
#gray4 .st16{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
#gray4 .st17{fill:#4B4B4B;stroke:#666666;stroke-width:0.9702;stroke-miterlimit:10;}
#gray4 .st18{opacity:0;}
#gray4 .st19{opacity:0.2;fill:#FF0080;}
#gray4 .st20{opacity:0.2;}
#gray4 .st21{fill:#FF0080;}

/*———————————————————————————————————————— fin */
