/*———————————————————————————————————————— bottom bar */

div#bottomBar{
  height:17px;
  width:85%;
  border-top-width:1px;
  border-top-style:solid;
  text-align:right;
}

div#bottomBar span#leftLinks{
  float:left;
}

div#bottomBar span a:link{
  display:none;
  cursor:pointer;
  transition:0.3s;
}

span#bottomCorner{
  padding-right:0;
  width: 20px;
  height:20px;

  border-width: 10px;
  border-style: solid;
  border-top:none;
  border-left:none;
}

