/*———————————————————————————————————————— prevent scrolling */

html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor:default;
}

body{
  background-color:lime;
}

/*———————————————————————————————————————— hide mouseover & mousedown states */

/* couldn't be overridden in JS */
g[id^=mod] { display: none; }
g[id^=mov] { display: none; }

/* duplicate with end of file */

/*———————————————————————————————————————— hide "attributes" links */

/* DOESN'T WORK */

rect[id^=attrLink] { opacity:0; }

/*———————————————————————————————————————— correct cursor over links */

rect[id^=link] { cursor: pointer; }

/*———————————————————————————————————————— tracking iframe */

iframe{
  height:1px;
  border:none;
}

/*———————————————————————————————————————— to prevent wrong scaling  */

body{
  background-color:#535353;
  margin:0;
  padding:0;
}

/*———————————————————————————————————————— to prevent wrong scaling  */

    svg:first-of-type{ width:240px; }

/*———————————————————————————————————————— hide mouseover buttons */

/* duplicate with line15 */

#mov-00, #mov-01, #mov-02, #mov-03, #mov-04, #mov-05, #mov-06, #mov-07, #mov-08, #mov-09, #mov-10, #mov-11, 
#mod-00, #mod-01, #mod-02, #mod-03, #mod-04, #mod-05, #mod-06, #mod-07, #mod-08, #mod-09, #mod-10, #mod-11, 

#x { display:none; }

/*———————————————————————————————————————— fin */
