
/*:::::::::::::::::::::::::::::::::::::::: bottom bar */

div#bottomBar{
  user-select: none;
  height:15px;
  width:100%;
  text-align:right;

  border-top-width:1px;
  border-top-style:solid;
  border-right-width:1px;
  border-right-style:solid;
  border-radius:0 3px 0 0;
}

div#bottomBar span#leftLinks{
  float:left;
}

div#bottomBar a{
  display:none;
  cursor:pointer;
  transition:0.3s;
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

