
/*:::::::::::::::::::::::::::::::::::::::: alertPalette .css .js .jsx */

:root{
  --alertBg0           :var(--labelText0);
  --alertText0         :var(--panelBg0);

  --alertBg1           :var(--labelText1);
  --alertText1         :var(--panelBg1);

  --alertBg2           :var(--labelText2);
  --alertText2         :var(--panelBg2);

  --alertBg3           :var(--labelText3);
  --alertText3         :var(--panelBg3);
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

