
/*:::::::::::::::::::::::::::::::::::::::: bottom bar */

div#bottomBar{
  margin-top:6px;
  padding:0 9px 0 9px;
  padding-bottom:3px;
  height:14px;
}

div#bottomBar{
  user-select: none;
  height:16px;
  width:207px;
  text-align:left;

  border-top-width:1px;
  border-top-style:solid;
  border-right-width:1px;
  border-right-style:solid;
}

div#bottomBar a{
  display:none;
  cursor:pointer;
  transition:0.3s;
}

/*———————————————————————————————————————— bottom bar */ 

div#bottomBar{
  background-color:var(--panelBgDark);
  border-top-color:var(--panelBorder);
  border-right-color:var(--panelBorder);
}

div#bottomBar span a:link{
  color:var(--hamburger);
}

div#bottomBar a:hover{
  color:var(--labelText);
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

