
/*:::::::::::::::::::::::::::::::::::::::: bottom bar */

div#bottomBar{
  margin-top:6px;
  padding:0 9px 0 9px;
  padding-bottom:3px;
  height:14px;
}

div#bottomBar{
  user-select: none;
  height:15px;
  width:207px;
  text-align:right;

  border-top-width:1px;
  border-top-style:solid;
  border-right-width:1px;
  border-right-style:solid;
  border-radius:0 0 0 0;
}

div#bottomBar span#leftLinks{
  float:left;
}

div#bottomBar a{
  display:none;
  cursor:pointer;
  transition:0.3s;
}

/*———————————————————————————————————————— bottom bar */ 

div#bottomBar{
  background-color:var(--panel-bg-dark);
  border-top-color:var(--panel-border);
  border-right-color:var(--panel-border);
}

div#bottomBar span a:link{
  color:var(--hamburger);
}

div#bottomBar a:hover{
  color:var(--label-text);
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

