
/*:::::::::::::::::::::::::::::::::::::::: buttons.css

              105px  50/50 buttons (default)
               95px  logo button
     95px 58px 47px  three bottom buttons

    it matters that there are no spaces between
    buttons in html */

input[type=button]{
  display:none;
  height:22px;
  border-style:solid;
  border-width:1px;
  border-radius:3px;
  padding:0 !important;
  margin: 0px 5px 4px 5px !important;
  transition:0.3s;
}

/*———————————————————————————————————————— regular buttons

 see css/interface1.css etc.  */

input[type=button]{

  color:var(--checkedBox);
  background-color:var(--inputField);
  border-color:var(--inputBorder);
}

input[type=button]:hover{
  color:var(--fieldContents);
  border-color:var(--accentBright);
}

input[type=button]:active{
  color:var(--fieldContents);
  border-color:#fff;
}

/*———————————————————————————————————————— save button & HR */

#butt43{
  background-color:var(--accentDim);
}

/*———————————————————————————————————————— button font */

input[type=button]{
  font-family:'SourceSansPro';
  font-size:12px;
  line-height:10px;
  font-weight:600;
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

