
/*:::::::::::::::::::::::::::::::::::::::: info.css .js .jsx */
  
:root {

  --infoBg0           :hsl(  0   0%  81%);
  --infoVersion0      :hsl(  0   0%  81%);
  --infoParagraph0    :hsl(  0   0%  81%);
  --infoUsage0        :hsl(  0   0%  81%);

  --infoBg1           :var(--panelBgDark1);
  --infoVersion1      :var(--accentBright);
  --infoParagraph1    :var(--labelText1);
  --infoUsage1        :var(--hamburger1);

  --infoBg2           :hsl(0  0%  81%);
  --infoVersion2      :hsl(0  0%  81%);
  --infoParagraph2    :hsl(0  0%  81%);
  --infoUsage2        :hsl(0  0%  81%);

  --infoBg3           :hsl(0  0%  81%);
  --infoVersion3      :hsl(0  0%  81%);
  --infoParagraph3    :hsl(0  0%  81%);
  --infoUsage3        :hsl(0  0%  81%);

}

/*:::::::::::::::::::::::::::::::::::::::: fin */

