
/*:::::::::::::::::::::::::::::::::::::::: main.css */

div#mainDiv{
  padding-top:0;
}

/*———————————————————————————————————————— logo */

svg#svijaLogo{
  cursor:pointer;
  padding:0 !important;
  width:115px;
  height:22px;
  margin: 0 5px 5px 5px !important;
  vertical-align:top;
}

#logoArt{
  transition:0.5s;
}


#svijaLogo #logoBar{ fill: none; }
#svijaLogo #logoArt{ fill: none; }

/*:::::::::::::::::::::::::::::::::::::::: fin */

