
/*:::::::::::::::::::::::::::::::::::::::: paletteAlert.css */

:root {
  --alertBG1            :hsl(  80  100%  50%);
  --alertText1          :hsl(  80  100%  50%);
  --alertProgBar1       :hsl(  80  100%  50%);
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

