/*———————————————————————————————————————— prevent scrolling */

html, body  { margin: 0; height: 100%; overflow: hidden; cursor:default;}

/*———————————————————————————————————————— hide mouseover & mousedown states */

/* couldn't be overridden in JS */
g[id^='mod'] { display: none; }
g[id^='mov'] { display: none; }

/*———————————————————————————————————————— correct cursor over links */

rect[id^='link'] { cursor: pointer; }

/*———————————————————————————————————————— fin */
