/*———————————————————————————————————————— svg styles */
/*         :4,21s/\t/#gray2 /g                        */


/* necessary because set to none in html */
#gray1, #gray2, #gray3, #gray4 {display:block;}

#gray1 .st0{fill:#323232;}
#gray1 .st1{fill:#292929;stroke:#444444;stroke-miterlimit:10;}
#gray1 .st2{opacity:0.6;}
#gray1 .st3{fill:#bbbbbb;}
#gray1 .st4{font-family:'SourceSansPro-SemiBold';}
#gray1 .st5{font-size:12px;}
#gray1 .st6{fill:#bbbbbb;}
#gray1 .st7{font-family:'SourceSansPro-Regular';}
#gray1 .st8{fill:#393939;stroke:#2d8ceb;stroke-miterlimit:10;}
#gray1 .st9{fill:#FFFFFF;}
#gray1 .st10{fill:#333333;stroke:#cccccc;stroke-miterlimit:10;}
#gray1 .st11{opacity:0;}
#gray1 .st12{fill:#FF0088;}

#gray2 .st0{fill:#535353;}
#gray2 .st1{fill:#474747;stroke:#636363;stroke-miterlimit:10;}
#gray2 .st2{opacity:0.6;}
#gray2 .st3{fill:#DEDEDE;}
#gray2 .st4{font-family:'SourceSansPro-SemiBold';}
#gray2 .st5{font-size:12px;}
#gray2 .st6{fill:#989898;}
#gray2 .st7{font-family:'SourceSansPro-Regular';}
#gray2 .st8{fill:#313131;stroke:#45A0F5;stroke-miterlimit:10;}
#gray2 .st9{fill:#FFFFFF;}
#gray2 .st10{fill:#313131;stroke:#F1F1F1;stroke-miterlimit:10;}
#gray2 .st11{opacity:0;}
#gray2 .st12{fill:#FF0088;}

#gray3 .st0{fill:#b9b9b9;}
#gray3 .st1{fill:#aaaaaa;stroke:#999999;stroke-miterlimit:10;}
#gray3 .st2{opacity:0.6;}
#gray3 .st3{fill:#444444;}
#gray3 .st4{font-family:'SourceSansPro-SemiBold';}
#gray3 .st5{font-size:12px;}
#gray3 .st6{fill:#555555;}
#gray3 .st7{font-family:'SourceSansPro-Regular';}
#gray3 .st8{fill:#999999;stroke:#2d8ceb;stroke-miterlimit:10;}
#gray3 .st9{fill:#333333;}
#gray3 .st10{fill:#999999;stroke:#333333;stroke-miterlimit:10;}
#gray3 .st11{opacity:0;}
#gray3 .st12{fill:#FF0088;}

#gray4 .st0{fill:#f0f0f0;}
#gray4 .st1{fill:#dddddd;stroke:#cccccc;stroke-miterlimit:10;}
#gray4 .st2{opacity:0.6;}
#gray4 .st3{fill:#555555;}
#gray4 .st4{font-family:'SourceSansPro-SemiBold';}
#gray4 .st5{font-size:12px;}
#gray4 .st6{fill:#777777;}
#gray4 .st7{font-family:'SourceSansPro-Regular';}
#gray4 .st8{fill:#cccccc;stroke:#2d8ceb;stroke-miterlimit:10;}
#gray4 .st9{fill:#444444;}
#gray4 .st10{fill:#cccccc;stroke:#666666;stroke-miterlimit:10;}
#gray4 .st11{opacity:0;}
#gray4 .st12{fill:#FF0088;}

/*———————————————————————————————————————— fin */
