/*———————————————————————————————————————— svg styles */
/*         :4,21s/\t/#gray2 /g                        */

/* necessary because set to none in html */
#gray1, #gray2, #gray3, #gray4 {display:block;}

#gray1 .st0{fill:#323232;}
#gray1 .st1{fill:#aaaaaa;}
#gray1 .st2{fill:#666666;}
#gray1 .st3{font-family:'SourceSansPro-Regular';}
#gray1 .st4{font-size:12px;}
#gray1 .st5{fill:#AAAAAA;}
#gray1 .st6{fill:#333333;stroke:#444444;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st7{fill:#888888;}
#gray1 .st8{font-family:'SourceSansPro-Semibold';}
#gray1 .st9{fill:#444444;stroke:#555555;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st10{fill:#bbbbbb;}
#gray1 .st11{fill:#333333;stroke:#2d8ceb;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st12{fill:#ffffff;}
#gray1 .st13{fill:#333333;stroke:#cccccc;stroke-linejoin:round;stroke-miterlimit:10;}
#gray1 .st14{fill:#ffffff;}
#gray1 .st15{fill:none;stroke:#666666;stroke-miterlimit:10;}
#gray1 .st16{fill:#bbbbbb;}
#gray1 .st17{opacity:0;cursor:pointer;}
#gray1 .st18{opacity:0.2;}
#gray1 .st19{fill:#FF2B95;}

#gray2 .st0{fill:#535353;}
#gray2 .st1{fill:#C2C2C2;}
#gray2 .st2{fill:#808080;}
#gray2 .st3{font-family:'SourceSansPro-Regular';}
#gray2 .st4{font-size:12px;}
#gray2 .st5{fill:#AAAAAA;}
#gray2 .st6{fill:#4B4B4B;stroke:#696969;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st7{fill:#989898;}
#gray2 .st8{font-family:'SourceSansPro-Semibold';}
#gray2 .st9{fill:#474747;stroke:#636363;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st10{fill:#DEDEDE;}
#gray2 .st11{fill:#313131;stroke:#45A0F5;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st12{fill:#E9E9E9;}
#gray2 .st13{fill:#313131;stroke:#F1F1F1;stroke-linejoin:round;stroke-miterlimit:10;}
#gray2 .st14{fill:#FDFDFD;}
#gray2 .st15{fill:none;stroke:#777777;stroke-miterlimit:10;}
#gray2 .st16{fill:#FFFFFF;}
#gray2 .st17{opacity:0;cursor:pointer;}
#gray2 .st18{opacity:0.2;}
#gray2 .st19{fill:#FF2B95;}

#gray3 .st0{fill:#b9b9b9;}
#gray3 .st1{fill:#444444;}
#gray3 .st2{fill:#777777;}
#gray3 .st3{font-family:'SourceSansPro-Regular';}
#gray3 .st4{font-size:12px;}
#gray3 .st5{fill:#444444;}
#gray3 .st6{fill:#aaaaaa;stroke:#999999;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st7{fill:#666666;}
#gray3 .st8{font-family:'SourceSansPro-Semibold';}
#gray3 .st9{fill:#aaaaaa;stroke:#666666;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st10{fill:#444444;}
#gray3 .st11{fill:#999999;stroke:#2d8ceb;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st12{fill:#333333;}
#gray3 .st13{fill:#999999;stroke:#333333;stroke-linejoin:round;stroke-miterlimit:10;}
#gray3 .st14{fill:#333333;}
#gray3 .st15{fill:none;stroke:#999999;stroke-miterlimit:10;}
#gray3 .st16{fill:#555555;}
#gray3 .st17{opacity:0;cursor:pointer;}
#gray3 .st18{opacity:0.2;}
#gray3 .st19{fill:#FF2B95;}

#gray4 .st0{fill:#f0f0f0;}
#gray4 .st1{fill:#555555;}
#gray4 .st2{fill:#999999;}
#gray4 .st3{font-family:'SourceSansPro-Regular';}
#gray4 .st4{font-size:12px;}
#gray4 .st5{fill:#555555;}
#gray4 .st6{fill:#dddddd;stroke:#cccccc;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st7{fill:#999999;}
#gray4 .st8{font-family:'SourceSansPro-Semibold';}
#gray4 .st9{fill:#dddddd;stroke:#999999;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st10{fill:#555555;}
#gray4 .st11{fill:#cccccc;stroke:#2d8ceb;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st12{fill:#444444;}
#gray4 .st13{fill:#cccccc;stroke:#666666;stroke-linejoin:round;stroke-miterlimit:10;}
#gray4 .st14{fill:#444444;}
#gray4 .st15{fill:none;stroke:#cccccc;stroke-miterlimit:10;}
#gray4 .st16{fill:#777777;}
#gray4 .st17{opacity:0;cursor:pointer;}
#gray4 .st18{opacity:0.2;}
#gray4 .st19{fill:#FF2B95;}

/*———————————————————————————————————————— fin */
