body{
  background-color:#535353;
  margin:0;
  padding:0;
}

svg{ display:none; }

/*———————————————————————————————————————— hide mouseover buttons */

#btnSaveActive,
#btnSaveAllActive,
#btnCloseActive,
#btnLayersActive,
#btnObjectsActive,
#btnImagesActive,

#btnSaveHover,
#btnSaveAllHover,
#btnCloseHover,
#btnLayersHover,
#btnObjectsHover,
#btnImagesHover,

#x { display:none; }

/*———————————————————————————————————————— fonts */

@font-face { font-family:'SourceSansPro-Regular'; src:url('fonts/SourceSansPro-Regular.ttf') format('woff'); }
@font-face { font-family:'SourceSansPro-Semibold'; src:url('fonts/SourceSansPro-Semibold.ttf') format('woff'); }

/*———————————————————————————————————————— fin */
