/*———————————————————————————————————————— svg styles */
/*         :4,21s/\t/#gray2 /g                        */

/* necessary because set to none in html */
#gray1, #gray2, #gray3, #gray4 {display:block;}

#grayU .st0{fill:#323232;}
#grayU .st1{fill:#666666;}
#grayU .st2{font-family:'SourceSansPro-Regular';}
#grayU .st3{font-size:12px;}
#grayU .st4{fill:#AAAAAA;}
#grayU .st5{fill:#FFFFFF;}
#grayU .st6{font-family:'SourceSansPro-Semibold';}
#grayU .st7{opacity:0;}
#grayU .st8{opacity:0;fill:#FF0080;}

#gray1 .st0{fill:#333333;}
#gray1 .st1{fill:#d6d6d6;}
#gray1 .st2{font-family:'SourceSansPro-SemiBold';}
#gray1 .st3{font-size:12px;}
#gray1 .st4{font-family:'SourceSansPro-Regular';}
#gray1 .st5{fill:#888888;}
#gray1 .st6{opacity:0;fill:#FF0080;}

#gray2 .st0{fill:#535353;}
#gray2 .st1{fill:#FFFFFF;}
#gray2 .st2{font-family:'SourceSansPro-SemiBold';}
#gray2 .st3{font-size:12px;}
#gray2 .st4{font-family:'SourceSansPro-Regular';}
#gray2 .st5{fill:#AAAAAA;}
#gray2 .st6{opacity:0;fill:#FF0080;}

#gray3 .st0{fill:#b9b9b9;}
#gray3 .st1{fill:#3f3f3f;}
#gray3 .st2{font-family:'SourceSansPro-SemiBold';}
#gray3 .st3{font-size:12px;}
#gray3 .st4{font-family:'SourceSansPro-Regular';}
#gray3 .st5{fill:#707070;}
#gray3 .st6{opacity:0;fill:#FF0080;}

#gray4 .st0{fill:#f0f0f0;}
#gray4 .st1{fill:#585858;}
#gray4 .st2{font-family:'SourceSansPro-SemiBold';}
#gray4 .st3{font-size:12px;}
#gray4 .st4{font-family:'SourceSansPro-Regular';}
#gray4 .st5{fill:#999999;}
#gray4 .st6{opacity:0;fill:#FF0080;}

/*———————————————————————————————————————— fin */
