/*———————————————————————————————————————— bottom bar */ 

div#bottomBar{
  background-color:var(--panel-bg-dark);
  border-top:1px solid var(--panel-border);
  text-align:right; 
}

div#bottomBar span{
  float:left;
}

div#bottomBar a{
  cursor:pointer;
  color:var(--hamburger);
  transition:0.3s;
}

div#bottomBar a:hover{
  color:var(--label-text);
}

