/*———————————————————————————————————————— bottom bar */ 

div#bottomBar{
  border-top-width:1px;
  border-top-style:solid;
  text-align:right; 
}

div#bottomBar span{
  float:left;
}

div#bottomBar span a:link{
  display:none;
  cursor:pointer;
  transition:0.3s;
}

div#bottomFiller{
 width:100%;
 height:2px;
}
