/*———————————————————————————————————————— buttons */

/*

// panel width 240px
// buttons 105px wide x 22px tall

// 10 px marg horizontally
// 5px marge vertically

//bott bar 12px high
//bott text 5.71px high:w
*/

.btnLarge, .btnMed, .btnSmall{
  display:none;
}

input[type=button]{
  width:95px;
  height:22px;
  border-style:solid;
  border-width:1px;
  border-radius:3px;
  margin: 0 5px 5px 5px !important;
}

div#moreDiv input[type=button]{
  width:105px;
}

/* med + small = 105 */

input.btnMed{
  width:58px;
}

input.btnSmall{
  width:47px;
}

/*———————————————————————————————————————— logo */

svg#svijaLogo{
  cursor:pointer;
  padding:0 !important;
  width:115px;
  height:22px;
  margin: 0 5px 5px 5px !important;
  vertical-align:top;
}

