
/*:::::::::::::::::::::::::::::::::::::::: fonts.css */

/*———————————————————————————————————————— font declaration */

@font-face {
  font-family:'Lucida Grande';
  font-weight:normal;
  src:url('./fonts/Lucida Grande.woff') format('woff');

}

@font-face {
  font-family:'Lucida Grande';
  font-weight:bold;
  src:url('./fonts/Lucida Grande Bold.woff?lksjdf') format('woff');
}


/*———————————————————————————————————————— permanent */

body{
  font-family:'Lucida Grande';
}

.btnLarge, .btnMed, .btnSmall{
  font-family:'Lucida Grande';
  font-size:10.5px;
  letter-spacing:0.01em;
  font-weight:bold;
  text-transform: capitalize;
}

div#moreLess{
  font-size:8px;
  line-height:10px;
  letter-spacing:1.5px;

  text-transform:uppercase;
  font-weight:bold;
}

/*:::::::::::::::::::::::::::::::::::::::: fin */



