html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor:default;
}

@font-face { font-family:'SourceSansPro-Regular' ; src:url('./fonts/SourceSansPro-Regular.woff' ) format('woff'); }
@font-face { font-family:'SourceSansPro-SemiBold'; src:url('./fonts/SourceSansPro-SemiBold.woff') format('woff'); }

body{
  background-color:#535353;
  color:#bbb;
  margin:0;
  padding:20px;
  font-family:'SourceSansPro-SemiBold';
}

a:link, a:visited{
 
  font-family: 'SourceSansPro-Regular';
  color:#bbb;
  text-decoration:none;
}

a:hover, a:active{
  border-bottom: dotted 1px #fff;
}
