
/* vim: set foldmethod=marker fmr=/*\—,/**\/: */

/*:::::::::::::::::::::::::::::::::::::::: base.css */

/*———————————————————————————————————————— fallback accent colors */

:root { /* see js/svijaLogo.js */

  --accentBright :hsl(80 100%  50%);
  --accentDim    :hsl(80  20%  25%);
}
/**/
/*———————————————————————————————————————— permanent */

*{
  box-sizing:border-box;
  overflow:hidden;
}

html, body{
  margin: 0;
  padding:4px 0 0 0;
  height:100%;
  overflow: hidden;
  cursor:default;
}

body{
  text-align: center;
}

input:focus{ /* get rid of blue line when focused */
  outline: none!important;
  box-shadow: none!important;
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: specific parts */

/*———————————————————————————————————————— overall panel */

body{
  background-color: var(--panelBg);
  background-image: url(../svg/splash_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color:#bbb;
}
/**/
/*———————————————————————————————————————— standby */

div#standbyDiv{
  pointer-events: none;
  position:absolute;
   left:0   ;    top:0   ;
  width:100%; height:100%;
  display:none;

  background-color: var(--panelBg);

  /* from chatGPT */
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
}

div#standbyBanner{
  width:100%;
  margin:0 10px;
  padding:3px 10px 4px 10px;

  border-style:solid;
  border-width:1px;
  border-radius:3px;

  background-color:var(--accentDim);
  border-color:var(--accentBright);
         color:var(--accentBright);

  /* font-size:16px; */
  font-size:12px;
  font-weight:600;
}

/**/
/*———————————————————————————————————————— news */

    /* <div id="newsBanner">
    </div> */

div#newsDiv{
  display:none;
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: fin */




