
/* vim: set foldmethod=marker fmr=/*\—,/**\/: */

/*:::::::::::::::::::::::::::::::::::::::: buttons.css

    widths are stored in:

    locale/messages.properties
    locale/fr_FR/messages.properties

/*———————————————————————————————————————— geometry

              105px  50/50 buttons (default)
               95px  logo button
     95px 58px 47px  three bottom buttons

    it matters that there are no spaces between
    buttons in html */

input[type=button]{
  display:none;
  height:22px;
  border-style:solid;
  border-width:1px;
  border-radius:3px;
  padding:0 !important;
  margin: 0px 5px 4px 5px !important;
  transition:0.2s;
  cursor:pointer;
}

input[type=button]{
  font-family:'SourceSansPro';
  font-size:12px;
  line-height:10px;
  font-weight:600;
}

input[type=button][disabled]{
  opacity:0.7;
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: colors */

/*———————————————————————————————————————— regular buttons

 see json/illustratorColorDefs.json */

input[type=button]{
  color:var(--checkedBox);
  background-color:var(--inputField);
  border-color:var(--inputBorder);
}

input[type=button]:not([disabled]):hover{
  color:var(--fieldContents);
  border-color:var(--accentBright);
}

input[type=button]:not([disabled]):active{
  color:var(--fieldContents);
  border-color:#fff;
}
/**/
/*———————————————————————————————————————— save button */

#butt43{
  background-color:var(--accentDim);
}
/**/
/*———————————————————————————————————————— "more" buttons

 see css/interface1.css etc.  */

div#moreDiv input[type=button]{
  color:var(--hamburger);
  background-color:var(--pulldown);
  border-color:var(--inputBorder);
}

div#moreDiv input[type=button]:hover{
  color:var(--fieldContents);
  border-color:var(--accentBright);
}

div#moreDiv input[type=button]:active{
  color:var(--fieldContents);
  border-color:#fff;
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: fin */

