
/*:::::::::::::::::::::::::::::::::::::::: logo.css */

div#logoContainer{ /* matches buttons.css */
  display:none;
  height:22px;
  padding:0 !important;
  margin: 0px 5px 4px 5px !important; 
  background-color:#F005;

  text-align:center;
}

svg#svijaLogo{
  cursor:pointer;
  width:66px;
  height:20px;
}

#logoArt{
  transition:0.5s;
}

/*:::::::::::::::::::::::::::::::::::::::: fin */

/*———————————————————————————————————————— configure regular button */

